<h1>Profile</h1>

<%= form_for @profile, url: create_profile_path do |f| %>
<div>
    <%= f.label :name,'이름' %>
    <%= f.text_field :name %>
</div>
<div>
    <%= f.label :address,'주소' %>
    <%= f.text_field :address %>
</div>
<div>
    <%= f.label :mobile,'핸드폰' %>
    <%= f.text_field :mobile %>
</div>
<div>
    <%= f.label :birth,'생년월일' %>
    <%= f.date_field :birth %>
</div>
<div>
    <%= f.submit %>
</div>
<% end %>