<h1><%= @artist.name %></h1>

<%= render 'follow_UI', artist: @artist %>

<%  if user_editable? %>
    <%= link_to fa_icon('edit 2x'), edit_artist_path(@artist) %> 
    <%= link_to fa_icon('trash 2x'), artist_path(@artist), method: :delete, data: {confirm: '삭제하시겠습니까?'} %>
<% end %>
<hr />
<%#= @artist.nationality %>
<%= image_tag @artist.image.url, class: 'image-center' if @artist.image? %>
<%#= image_tag @artist.image.thumb.url if @artist.image? %>
<%#= @artist.lyric.html_safe %>
<ul>
    <% @artist.songs.each do |song| %>
        <li>
            <%= image_tag song.cover.thumb.url if song.cover? %>
            <%= link_to song.title, song_path(song) %>
        </li>
    <% end %>
</ul>

<%= render 'comments/form', commentable: @artist %>
<%= render 'comments/index', commentable: @artist %>