<h1><%= @article.title %></h1>

<%= image_tag gravatar_url(@article.user.email, 64), alt: @article.user.profile.name %>

<strong> <%= @article.user.profile.name %></strong>

<div>
    <% if @article.user == current_user %>
        <%=  %>
        <%= link_to fa_icon('edit 2x'), edit_article_path(@article) %> 
        <%= link_to fa_icon('trash 2x'), article_path(@article), method: :delete, data: {confirm: '삭제하시겠습니까?'} %>
    <% end %>
</div>
<hr/ >

<p> <%= @article.content.html_safe%></p>

<hr/ >
