<h1><%= @song.title %></h1>
<%  if user_editable? %>
<%= link_to fa_icon('edit 2x'), edit_song_path(@song) %> 
<%= link_to fa_icon('trash 2x'), song_path(@song), method: :delete, data: {confirm: '삭제하시겠습니까?'} %>
<% end %>
<hr />

<ul>
    <% @song.artists.each do |artist| %>
        <li>
            <%= image_tag artist.image.thumb.url if artist.image? %>
            <%= link_to artist.name, artist_path(artist) %>
        </li>
    <% end %>
    
</ul>

<%= image_tag @song.cover.url , class: 'image-center'if @song.cover? %>
<%#= image_tag @song.cover.thumb.url if @song.cover? %>
<%= @song.lyric.html_safe %>